.footer {
    background: #232528;
    color: #fff;
}

.banniere-logo {
    width: 100vw;
    height: 100px;
    border-bottom: dashed .2px #ddd;
    text-align: center;
}

.banniere-logo img {
    width: 60vw;
    height: -webkit-fill-available;
    height: 99px;
}

.footer-description {
    padding: 10px 30px;
}

.footer-description p {
    font-size: 13px;
    text-align: center;
    /* text-indent: .5cm; */
    line-height: 1.5;
    font-family: sans-serif;
    /* font-weight: 700; */
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
}

.social a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 1em;
    background: url(icones/linkedin-linked-in-svgrepo-com.svg) center center / cover no-repeat;
}

.social a:hover {
    opacity: .6;
    transform: scale(.95);
}

.social a.telegram {
    background: url(icones/telegram-svgrepo-com.svg) center center / cover no-repeat;
}

.social a.twitter {
    background: url(icones/twitter-svgrepo-com.svg) center center / cover no-repeat;
}

.social a.youtube {
    background: url(icones/youtube-svgrepo-com.svg) center center / cover no-repeat;
}

.footer-bottom {
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
}

.mentions {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px 40px;
}

.mentions a {
    padding: 0 1em;
    text-decoration: none;
    font-size: inherit;
    line-height: 1.5;
    color: #ffffff80;
    color: rgb(255, 255, 255, .5);
    transition: .2s;
    transition-property: color;
}

.mentions a:hover {
    color: #fff;
}

@media screen and (min-width:800px) {
    .banniere-logo {
        height: 100px;
    }

    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    .mentions {
        width: 60%;
    }
}